EXCEL_PATH=./data/pedidos_aliexpress.xlsx
RESPONSAVEL_PADRAO=Seu Nome
ACCOUNT_ID=auto
ASK_ACCOUNT=true
ACCOUNT_PROFILES_PATH=./contas.txt
CHECK_INTERVAL_MINUTES=60
ALIEXPRESS_SESSION_DIR=./chrome-session
ALIEXPRESS_ORDERS_URL=https://www.aliexpress.com/p/order/index.html
HEADLESS=false
DEFAULT_TIPO=Entrada
BROWSER_CHANNEL=chrome
CDP_URL=http://127.0.0.1:9222
BROWSER_EXECUTABLE=
